<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.acm.dc3.mapper.EnergyDailyMapper">

    <resultMap id="energyDailyVo" type="com.wisdom.acm.dc3.vo.EnergyDailyVo">
        <result property="id" column="id"/>
        <result property="recordTime" column="RECORD_TIME"/>
        <result property="line" column="LINE"/>
        <result property="lineName" column="LINE_NAME"/>
        <result property="linePeriod" column="LINE_PERIOD"/>
        <result property="motivePowerConsumption" column="MOTIVE_POWER_CONSUMPTION"/>
        <result property="towPowerConsumption" column="TOW_POWER_CONSUMPTION"/>
        <result property="lossPowerConsumption" column="LOSS_POWER_CONSUMPTION"/>
        <result property="totalPowerConsumption" column="TOTAL_POWER_CONSUMPTION"/>
        <result property="motivePowerRate" column="MOTIVE_POWER_RATE"/>
        <result property="towPowerRate" column="TOW_POWER_RATE"/>
        <result property="lossPowerRate" column="LOSS_POWER_RATE"/>
        <result property="creatTime" column="creat_time"/>
        <result property="reviewTime" column="REVIEW_TIME"/>
        <result property="dailyId" column="DAILY_ID"/>
        <association property="reviewStatusVo" javaType="com.wisdom.base.common.vo.GeneralVo">
            <result property="code" column="REVIEW_STATUS"/>
            <result property="name" column="status_name"/>
        </association>
        <association property="createVo" javaType="com.wisdom.base.common.vo.GeneralVo">
            <result property="code" column="creator"/>
            <result property="name" column="creator_name"/>
        </association>
        <association property="reviewerVo" javaType="com.wisdom.base.common.vo.GeneralVo">
            <result property="code" column="reviewer"/>
            <result property="name" column="reviewer_name"/>
        </association>
    </resultMap>




    <select id="selectByParams" parameterType="java.util.Map" resultMap="energyDailyVo">
        select a.*,
        (case a.review_status
        when 'INIT' then '新建'
        when 'REJECT' then '被驳回'
        when 'APPROVAL' then '审批中'
        when 'APPROVED' then '已发布' end    ) as status_name,
        dt.dict_name as  LINE_NAME,
        u.actu_name as creator_name,uc.actu_name as reviewer_name
        from odr_energy_daily a
        left join wsd_base_dict dt
        on a.line = dt.dict_code and dt.TYPE_CODE = 'line'
        left join wsd_sys_user u on a.creator=u.id
        left join wsd_sys_user uc on a.reviewer=uc.id
        <where>

            <if test="line != null and line != '' ">
                AND a.LINE =#{line}
            </if>
            <if test="linePeriod != null and linePeriod != '' ">
                AND a.LINE_PERIOD =#{linePeriod}
            </if>
            <if test="checkReviewStatus != null and checkReviewStatus != '' ">
                AND a.REVIEW_STATUS !=#{checkReviewStatus}
            </if>
            <if test="reviewStatus != null and reviewStatus != '' ">
                AND a.REVIEW_STATUS =#{reviewStatus}
            </if>
            <if test="recordTime != null and recordTime != '' ">
                AND a.RECORD_TIME = str_to_date(#{recordTime},'%Y-%m-%d')
            </if>
            <if test="ids != null and ids != '' ">
                AND a.id in
                <foreach collection="ids" item="item"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="endTime != null and endTime != '' ">
                AND a.RECORD_TIME <![CDATA[  <= ]]> str_to_date(#{endTime},'%Y-%m-%d')
            </if>
            <if test="startTime != null and startTime != '' ">
                AND a.RECORD_TIME <![CDATA[  >= ]]> str_to_date(#{startTime},'%Y-%m-%d')
            </if>
        </where>
        order by a.RECORD_TIME desc
    </select>

    <resultMap id="energyDetail2DailyVo" type="com.wisdom.acm.dc3.vo.EnergyDailyVo">
        <result property="powerType" column="POWER_TYPE"/>
        <result property="recordTime" column="RECORD_TIME"/>
        <result property="powerTypeName" column="POWER_TYPE_NAME"/>
        <result property="powerConsumption" column="POWER_CONSUMPTION"/>

    </resultMap>

    <select id="select2DailyByParams" parameterType="java.util.Map" resultMap="energyDetail2DailyVo">
        SELECT
        a.POWER_TYPE,
        (
        CASE a.POWER_TYPE
        WHEN '0' THEN   '变电所'
        WHEN '1' THEN   '动照'
        WHEN '2' THEN   '牵引'
        END     ) AS POWER_TYPE_NAME,
        SUM(a.POWER_CONSUMPTION) AS POWER_CONSUMPTION
        FROM   odr_energy_detail a

        <where>
            <if test="dailyId != null and dailyId != '' ">
                AND a.DAILY_ID =#{dailyId}
            </if>
            <if test="powerType != null and powerType != '' ">
                AND a.POWER_TYPE =#{powerType}
            </if>
            <if test="line != null and line != '' ">
                AND a.LINE =#{line}
            </if>
            <if test="linePeriod != null and linePeriod != '' ">
                AND a.LINE_PERIOD =#{linePeriod}
            </if>
            <if test="recordTime != null and recordTime != '' ">
                AND date_format(a.RECORD_TIME,'%Y-%m-%d') =#{recordTime}
            </if>
            <if test="ids != null and ids != '' ">
                AND a.id in
                <foreach collection="ids" item="item"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY     a.POWER_TYPE
    </select>

    <resultMap id="Daily2MonthlyVo" type="com.wisdom.acm.dc3.vo.EnergyDailyVo">
        <result property="motivePowerConsumption" column="MOTIVE_POWER_CONSUMPTION"/>
        <result property="towPowerConsumption" column="TOW_POWER_CONSUMPTION"/>
        <result property="lossPowerConsumption" column="LOSS_POWER_CONSUMPTION"/>
        <result property="totalPowerConsumption" column="TOTAL_POWER_CONSUMPTION"/>
    </resultMap>
    <select id="selectDaily2MonthlyByParams" parameterType="java.util.Map" resultMap="Daily2MonthlyVo">
        SELECT
            SUM(a.MOTIVE_POWER_CONSUMPTION) AS MOTIVE_POWER_CONSUMPTION,
            SUM(a.TOW_POWER_CONSUMPTION) AS TOW_POWER_CONSUMPTION,
            SUM(a.LOSS_POWER_CONSUMPTION) AS LOSS_POWER_CONSUMPTION,
            SUM(a.TOTAL_POWER_CONSUMPTION) AS TOTAL_POWER_CONSUMPTION
        FROM      odr_energy_daily a

        <where>
            <if test="dailyId != null and dailyId != '' ">
                AND a.DAILY_ID =#{dailyId}
            </if>
            <if test="line != null and line != '' ">
                AND a.LINE =#{line}
            </if>
            <if test="linePeriod != null and linePeriod != '' ">
                AND a.LINE_PERIOD =#{linePeriod}
            </if>
            <if test="up2MonthRecordTime != null and up2MonthRecordTime != '' ">
                AND date_format(a.RECORD_TIME,'%Y-%m') =#{up2MonthRecordTime}
            </if>
            <if test="ids != null and ids != '' ">
                AND a.id in
                <foreach collection="ids" item="item"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>



</mapper>

