<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.acm.base.mapper.BaseTmpldelvTypeMapper" >

  <sql id="baseSelectSql">
    select t.id, t.type_title, t.type_num, t.type_version, t.type_type, d.dict_name type_name, t.type_desc, t.creat_time, t.creator, u.actu_name from wsd_base_tmpldelv_type t
    left join wsd_sys_user u on t.creator = u.id
    left join wsd_base_dict d on t.type_type=d.dict_code and d.type_code='delv.project.type'
  </sql>

  <resultMap id="BaseResultMap" type="com.wisdom.acm.base.vo.tmpldelv.BaseTmpldelvTypeVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_title" property="typeTitle" jdbcType="VARCHAR" />
    <result column="type_num" property="typeNum" jdbcType="VARCHAR" />
    <result column="type_version" property="typeVersion" jdbcType="VARCHAR" />
    <result column="type_desc" property="typeDesc" />
    <result column="creat_time" property="creatTime" />
    <association property="typeType" javaType="com.wisdom.base.common.vo.DictionaryVo">
      <result column="type_type" property="id" />
      <result column="type_name" property="name"/>
    </association>
    <association property="creator" javaType="com.wisdom.base.common.vo.UserVo">
      <result column="creator" property="id" />
      <result column="actu_name" property="name"/>
    </association>
  </resultMap>

  <select id="selectTmpldelvTypeList" parameterType="String" resultMap="BaseResultMap">
    <include refid="baseSelectSql"></include>
    <where>
      <if test="key!=null">
        and t.type_title like concat('%',#{key},'%') or t.type_num like concat('%',#{key},'%')
      </if>
    </where>
  </select>

  <select id="selectTmpldelvTypeById" resultMap="BaseResultMap">
    <include refid="baseSelectSql"></include>
    where t.id = #{id}
  </select>

</mapper>