<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.acm.szxm.mapper.app.AppAddressBookMapper">

	<resultMap id="contactsUserVo" type="com.wisdom.acm.szxm.vo.app.ContactsUserVo">
		<id property="contactsId" column="CONTACTS_ID"/>
		<result property="contactsName" column="CONTACTS_NAME"/>
		<result property="contactsDept" column="CONTACTS_DEPT"/>
		<result property="source" column="SOURCE"/>
		<result property="telPhone" column="TELPHONE"/>
		<result property="sex" column="sex"/>
		<result property="job" column="JOB"/>
	</resultMap>

	<resultMap id="orgInfoVo" type="com.wisdom.acm.szxm.vo.app.OrgInfoVo">
		<id property="orgId" column="id"/>
		<result property="orgName" column="org_name"/>
		<result property="projectId" column="project_id"/>
		<result property="sectionId" column="section_id"/>
		<result property="source" column="SOURCE"/>
		<result property="telPhone" column="TELPHONE"/>
		<result property="leader" column="leader"/>
	</resultMap>

    <insert id="mergeIntoCommonUserTable">
	MERGE INTO szxm_apprygl_comuser T1
	USING (SELECT #{contactsId} as contacts_id, #{userId} as user_id FROM dual) T2
	on (T1.contacts_id = T2.contacts_id and T1.user_id = T2.user_id)
	WHEN MATCHED THEN
	  UPDATE SET T1.Fwcs = T1.Fwcs + 1, T1.Last_Upd_Time = sysdate
	WHEN NOT MATCHED THEN
	  INSERT
		(T1.ID,
		 T1.Creat_Time,
		 T1.CONTACTS_NAME,
		 T1.CONTACTS_ID,
		 T1.CONTACTS_DEPT,
		 T1.USER_ID,
		 T1.SOURCE,T1.JOB,T1.TELPHONE,T1.EMAIL,T1.SEX,
		 T1.Fwcs)
	  VALUES
		(#{id}, sysdate,#{contactsName}, #{contactsId}, #{contactsDept}, #{userId}, #{source},#{job},#{telPhone},#{email},#{sex},0)
	</insert>

    <select id="queryCommonlyUsedUser" resultMap="contactsUserVo">
        select * from (select * from szxm_apprygl_comuser a where a.user_id=#{userId} order by a.Fwcs desc) t where rownum <![CDATA[  <= ]]> 10
	</select>


	<select id="selectWbInnerPeople" resultMap="contactsUserVo">
      select a.id as CONTACTS_ID,a.name as CONTACTS_NAME,a.TELPHONE,a.sex,'0' as SOURCE,t.org_name as CONTACTS_DEPT,
        d.dict_name as job
        from szxm_rygl_people a
        inner join szxm_rygl_projinfo t on t.id=a.proj_info_id
        left join wsd_base_dict d on d.dict_code=a.job and d.type_code = 'base.position.type'
 where exists (select 1
          from szxm_rygl_people b where  b.telphone=#{telphone} and b.proj_info_id = a.proj_info_id
			)
			<if test="contactsName != null and contactsName != '' ">
				AND a.name like  '%' || #{contactsName} || '%'
			</if>
			<if test="projectId != null and projectId != '' ">
				AND a.project_id = #{projectId}
			</if>
	</select>


	<select id="selectYzInnerPeople" resultMap="contactsUserVo">
		select a.id as CONTACTS_ID,'1' as source,a.actu_name as CONTACTS_NAME,c.org_name as CONTACTS_DEPT,a.phone as telphone,a.sex,d.dict_name as job
  from wsd_sys_user a
 inner join wsd_sys_userorg b
    on a.id = b.user_id
 inner join wsd_sys_org c
    on b.org_id = c.id
left join wsd_base_dict d on d.dict_code= a.position and d.type_code = 'base.position.type'
 where exists (select 1
  from wsd_sys_org t
 where t.biz_id = #{projectId}
   and t.extended_column_1 = 'org'
   and t.extended_column_3 = '1'  and t.id=c.id)
		<if test="contactsName != null and contactsName != '' ">
			AND a.actu_name like  '%' || #{contactsName} || '%'
		</if>
	</select>

	<select id="selectWbOuterOrg" resultMap="orgInfoVo">
		select t.id,t.org_name,'1' as source,t.biz_id as project_id, t.id as section_id,'' as telphone,'' as leader
		from wsd_sys_org t
		where t.biz_id = #{projectId}
		and t.extended_column_1 = 'org'
		and t.extended_column_3 = '1'  and t.parent_id <![CDATA[  <> ]]> '0'
		union all
		select a.id,a.org_name,'0' as source,a.project_id,a.section_id,a.telphone,a.leader
		from szxm_rygl_projinfo a
		where a.project_id = #{projectId} and a.parent_id ='0'
		and not Exists
		(select 1 from szxm_rygl_people b where b.telphone = #{telphone} and b.proj_info_id = a.id)
	</select>

	<select id="selectSectionProfession" resultType="java.lang.String">
	select o1.extended_column_5
	  from wsd_sys_org o1
	 where exists (select 1
			  from wsd_sys_userorg uo
			 inner join wsd_sys_org o
				on uo.org_id = o.id
			 where o.biz_id = #{projectId}
			   and uo.user_id = #{userId}
			   and o1.id = o.parent_id)
	</select>

	<select id="selectFyzUnionAll" resultMap="contactsUserVo">
     select  u.id contacts_id,
        u.actu_name contacts_name,
        (select o2.org_name from wsd_sys_userorg uo2 inner join wsd_sys_org o2 on uo2.org_id=o2.id and o2.biz_id is null where uo2.user_id=u.id) contacts_dept,
        '1' as source,
        u.phone telphone,
        dt.dict_name job,
        to_char(u.sex) as sex
        from wsd_sys_userorg uo
        inner join wsd_sys_user u
        on u.id = uo.user_id
        inner join wsd_sys_org o
        on uo.org_id = o.id
        and o.biz_id =  #{projectId} and o.EXTENDED_COLUMN_1='section'
        inner join (select ro.user_id, ro.org_id
        from wsd_sys_role r
        inner join wsd_sys_userorg_role ro
        on r.id = ro.role_id
        and instr(r.role_code, 'YZ_YZDB', 1, 1) = 1) ro
        on uo.user_id = ro.user_id  and uo.org_id = ro.org_id
        left join wsd_base_dict dt
        on uo.position = dt.dict_code
        and dt.TYPE_CODE = 'base.position.type'
        where exists(select 1 from wsd_sys_userorg uo1 inner join wsd_sys_org o1 on uo1.org_id=o1.id and o1.biz_id=#{projectId}  where uo1.user_id= #{userId} and o1.parent_id=o.id)
        <where>
            <if test="searcher != null and searcher != '' ">
                AND u.actu_name like '%'|| #{searcher} || '%'
            </if>
        </where>
        union
        select p.id id,
        p.name contacts_name,
        pj.org_name as contacts_dept,
        '0' as source,
        p.telphone,
        dt.dict_name job,
        to_char(p.sex) as sex
        from szxm_rygl_people p
        inner join szxm_rygl_projinfo pj
        on p.proj_info_id = pj.id
        and p.project_id = #{projectId}
        left join wsd_base_dict dt
        on p.job = dt.dict_code
        and dt.TYPE_CODE = 'base.position.type'
        <where>
            <if test="searcher != null and searcher != '' ">
                AND p.name like '%'|| #{searcher} || '%'
            </if>
        </where>
	</select>

	<select id="selectYzUnionAll" resultMap="contactsUserVo">
select u.id contacts_id,
                u.actu_name contacts_name,
                o.org_name contacts_dept,
                '1' as source,
                u.phone telphone,
                dt.dict_name job,
                to_char(u.sex) as sex
  from wsd_sys_userorg uo
 inner join wsd_sys_user u
    on u.id = uo.user_id
 inner join wsd_sys_org o
    on uo.org_id = o.id
   and o.biz_id =  #{projectId} and o.EXTENDED_COLUMN_1='org'
   inner join (select ro.user_id, ro.org_id
               from wsd_sys_role r
              inner join wsd_sys_userorg_role ro
                 on r.id = ro.role_id
                and instr(r.role_code, 'YZ_', 1, 1) = 1) ro
    on u.id = ro.user_id
   and o.id = ro.org_id
      left join wsd_base_dict dt
        on uo.position = dt.dict_code
        and dt.TYPE_CODE = 'base.position.type'
        <where>
            <if test="searcher != null and searcher != '' ">
                AND u.actu_name like  '%' || #{searcher} || '%'
            </if>
        </where>
union
select p.id contacts_id,
       p.name contacts_name,
       pj.org_name as contacts_dept,
       '0' as source,
       p.telphone,
       dt.dict_name job,
       to_char(p.sex) as sex
  from szxm_rygl_people p
 inner join szxm_rygl_projinfo pj
    on p.proj_info_id = pj.id
   and p.project_id = #{projectId}
  left join wsd_base_dict dt
    on p.job = dt.dict_code
   and dt.TYPE_CODE = 'base.position.type'
        <where>
            <if test="searcher != null and searcher != '' ">
                AND p.name like  '%' || #{searcher} || '%'
            </if>
        </where>
	</select>
</mapper>

