<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.acm.wf.mapper.WfLogMapper">

    <resultMap id="WfLogVo" type="com.wisdom.acm.wf.vo.WfLogVo">
        <result column="id" property="id"/>
        <result column="content_" property="content"/>
        <result column="opt_type" property="optType"/>
        <result column="handle_user" property="handleUser"/>
        <result column="activity" property="activity"/>
        <result column="proc_inst_id" property="procInstId"/>
    </resultMap>



</mapper>