<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.acm.dc5.mapper.FaultDailyProblemDealMapper">

    <select id="selectFaultDailyProblemDealByParams" parameterType="java.util.Map" resultType="com.wisdom.acm.dc5.vo.FaultDailyProblemDealVo">
        select a.id as id,a.problem_id as problemId,a.deal_detail as dealDetail,
        a.record_time as recordTime,a.creator as recorder,b.ACTU_NAME as recorderName
        from odr_fault_daily_problem_deal a LEFT JOIN wsd_sys_user b on a.creator=b.ID
        where 1=1
            <if test="problemId != null and problemId != '' ">
                AND a.problem_id =#{problemId}
            </if>
            <if test="id != null and id != '' ">
                AND a.id = #{id}
            </if>
            <if test="ids != null and ids != '' ">
                AND a.id in
                <foreach collection="ids" item="item"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        order by a.id desc
    </select>

</mapper>

